<div class="card">
  <div class="card-header">
    <h1>Shops owned by the Tailor</h1>
    <h4>User : {{ email }}</h4>
  </div>

  <div class="card-body">

    <table class="table" *ngIf="tailors !== null">
        <thead class="thead-dark">
            <tr>
                <th>Shop Number</th>
                <th>Shop Name</th>
                <th>City</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let tailor of tailors">
                <td>{{ tailor.shopNumber }}</td>
                <td>{{ tailor.shopName }}</td>
                <td>{{ tailor.city }}</td>
                <td>
                  <a routerLink="/tailor/{{ tailor.id }}" class="btn btn-primary btn-sm">Details</a>
                </td>
            </tr>           
        </tbody>
    </table>

    <div *ngIf="tailors === null" class="container">
      <h5>No shops owned by the user yet!</h5>
      <a routerLink="/tailoradd" class="btn btn-primary btn-sm">Click to Add Shops</a>
    </div>
  </div>
</div>
